:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gray-50: #fafafa;
  --gray-800: #374151;
  --gray-900: #111827;
}

body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-50);
  background-color: var(--gray-900);
}

#timer {
  font-size: 5rem;
  padding: 1rem;
}

#control-bar {
  width: 350px;
  height: 50px;
  display: flex;
  padding: 9px;
  border-radius: 30px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--gray-800);
}

#control-bar div {
  width: 33.3%;
  cursor: pointer;
  border: none;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  color: var(--gray-50);
  font-weight: bold;
  border-right: solid 1px var(--gray-900);
}

#control-bar div:nth-child(3) {
  border-right: 0;
}

#control-bar div img {
  height: 17px;
}
