:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gray-50: #fafafa;
  --gray-800: #374151;
  --gray-900: #111827;

  --red-500: #fa4444;
  --red-600: #ff0000;

  --yellow-300: rgb(255, 208, 0);
  --yellow-400: #ffe604;

  --green-400: #38d438d5;
  --green-500: #15c71e;
}

body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-50);
  background-color: var(--gray-900);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

#edit-button {
  display: flex;
  cursor: pointer;
  align-self: flex-end;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 1rem 0 1rem;
}

#edit-button:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in;
}

#edit-button img {
  width: 1.3rem;
  padding-right: 0.3rem;
}

#timer {
  font-size: 5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

#control-bar {
  width: 30rem;
  height: 4rem;
  display: flex;
  border-radius: 30px;
  font-size: 0.95rem;
  align-items: center;
  background-color: transparent;
}

#control-bar div {
  display: flex;
  width: 33.3%;
  height: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: var(--gray-50);
  font-weight: bold;
  margin-top: 2rem;
}

#control-bar div:hover {
  transform: scale(1.06);
  transition: 0.23s ease-in;
}

#control-bar div img {
  height: 17px;
  margin-right: 0.4rem;
}

#start-button {
  background-color: var(--green-400);
  border-radius: 10px 0 0 10px;
}

#start-button:hover {
  background-color: var(--green-500);
}

#stop-button {
  background-color: var(--yellow-300);
}

#stop-button:hover {
  background-color: var(--yellow-400);
}

#restart-button {
  background-color: var(--red-500);
  border-radius: 0 10px 10px 0;
}

#restart-button:hover {
  background-color: var(--red-600);
}

#start-button:hover {
  background-color: var(--green-500);
}

@media screen and (max-width: 700px) {
  #timer {
    font-size: 4.5rem;
  }

  #control-bar {
    width: 22rem;
    font-size: 0.9rem;
  }

  #control-bar div img {
    height: 0.9rem;
    margin-right: 0.4rem;
  }
}
