:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gray-50: #fafafa;
  --gray-800: #374151;
  --gray-900: #111827;
}

body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-50);
  background-color: var(--gray-900);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#edit-button {
  cursor: pointer;
  align-self: flex-end;
}

#edit-button img {
  width: 20px;
}

#timer {
  font-size: 5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

#control-bar {
  width: 30rem;
  height: 4rem;
  display: flex;
  padding: 9px;
  margin-top: 0.5rem;
  border-radius: 30px;
  align-items: center;
  background-color: transparent;
}

#control-bar div {
  display: flex;
  width: 33.3%;
  height: 100%;
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
  color: var(--gray-50);
  font-weight: bold;
}

#control-bar div img {
  height: 17px;
  margin-right: 1rem;
}

#start-button {
  background-color: green;
  border-radius: 10px 0 0 10px;
}

#stop-button {
  background-color: orange;
}

#restart-button {
  background-color: red;
  border-radius: 0 10px 10px 0;
}
